<div id="container">
<div id="topPan">
	<a href="index.html"><img src="images/logo.gif" title="Liqidity Graph" alt="Liqidity Graph" width="260" height="56" border="0" class="logo" /></a>
	<ul>
		<li><%= link_to "Katalog", recipes_path %></li>
		<li><%= link_to 'Dodaj', new_recipe_path %></li>
		<li><%= link_to_rpx "Zaloguj sie", user_session_url %> </li>
	</ul>
</div>
<div id="bodyPan">
	<div id="bodytopPan">
		<h2>Informacje o git-nalewki</h2>
		<p>Serwis realizowany w ramach projektu z Architektury Serwisów Internetowych</p>
		<p>Git-nalewki umożliwia dzielenie się przepisami na wyszukane i wykwintne trunki zwane nalewkami, komentowanie i ocenianie przepisów innych użytkowników</p>
Naszą aplikacja przeznaczona jest dla miłośników oraz degustatorów, którzy lubią mieć w swoim barku coś czego nie można dostać w sklepie i czym będą mogli poczęstować gości w czasie spotkań rodzinnych i towarzyskich</p>
	</div>
		<div id="bodymiddleMainPan">
		<h2>Dodane Przepisy</h2>
  	<table style="margin:0 auto;">
  <tr>
    <th>Nazwa</th>
    <th>Trudnosc</th>
    <th>Autor</th>
    <th>Tagi</th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.nazwa %></td>
    <td><%= recipe.trudnosc %></td>
    <td><%= recipe.autor %></td>
    <td><%= recipe.tag_list %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= button_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>
</div>
</div>
</div>
	  <div id="footermainPan">
  <div id="footerPan">
		<p class="copyright">©c2h5oh. All Rights Reserved.</p>
	
  </div>
</div>
