<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa:</b>
  <%= @recipe.nazwa %>
</p>

<p>
  <b>Przepis:</b>
  <%= @recipe.przepis %>
</p>

<p>
  <b>Skladniki:</b>
  <%= @recipe.skladniki %>
</p>

<p>
  <b>Cena:</b>
  <%= @recipe.cena %>
</p>

<p>
  <b>Trudnosc:</b>
  <%= @recipe.trudnosc %>
</p>

<p>
  <b>Autor:</b>
  <%= @recipe.autor %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
