<div id="container">
<div id="topPan">
	<img src="../images/logo.gif" title="Liqidity Graph" alt="Liqidity Graph" width="260" height="56" border="0" class="logo" />
	<ul>
		<li><%= link_to_rpx "Zaloguj sie", user_session_url %> </li>
		<li><%= link_to "Katalog", recipes_path %></li>
		<li><%= link_to 'Dodaj', new_recipe_path %></li>
	</ul>
</div>
<p id="notice"><%= notice %></p>
<div id="bodymiddleMainPan">
		<h2>  <%= @recipe.nazwa %></h2>

<p>
<%= image_tag @recipe.photo.url(:small) %>
</p>

<p>
  <b>Cena:</b>
  <%= @recipe.cena %>
</p>

<p>
  <b>Trudnosc:</b>
  <%= @recipe.trudnosc %>
</p>

<p>
  <b>Skladniki:</b>
  <%= @recipe.skladniki %>
</p>

<p>
  <b>Przepis:</b>
  <%= @recipe.przepis %>
</p>

<p>
  <b>Autor:</b>
  <%= @recipe.autor %>
  <span style="float:right; padding-right:20px;"><%= link_to 'Usuń przepis', @recipe, :confirm => 'Are you sure?', :method => :delete %></span>
  <span style="float:right; padding-right:20px;"><%= link_to 'Popraw przepis', edit_recipe_path(@recipe) %></span>
</p>
<p>
<% if @recipe.comments.any? %>
  <b>Opinie:</b>
  <%= render @recipe.comments %>
<% end %>
</p>
<p>
<b>Twoje zdanie o nalewce:</b>
<%= render 'comments/form' %>
</p>

</div>
</div>
	  <div id="footermainPan">
  <div id="footerPan">
		<p class="copyright">©c2h5oh. All Rights Reserved.</p>
	
  </div>
</div>