
<p id="notice"><%= notice %></p>
<div id="bodymiddleMainPan">
		<h2>  <%= @recipe.nazwa %></h2>

<p>
<%= image_tag @recipe.photo.url(:small) %>
</p>

Twoja ocena: <%= ratings_for @recipe, :dimension => :nazwa %>

<p>
  <b>Cena:</b>
  <%= @recipe.cena %>
</p>

<p>
  <b>Trudnosc:</b>
  <%= @recipe.trudnosc %>
</p>

<p>
  <b>Skladniki:</b>
  <%= @recipe.skladniki %>
</p>

<p>
  <b>Przepis:</b>
  <%= @recipe.przepis %>
</p>

<p>
  <b>Autor:</b>
  <%= @recipe.autor %>
 <% if user_signed_in? %>
  <span style="float:right; padding-right:20px;"><%= link_to 'Usuń przepis', @recipe, :confirm => 'Jestes pewien?', :method => :delete %></span>
  <span style="float:right; padding-right:20px;"><%= link_to 'Popraw przepis', edit_recipe_path(@recipe) %></span>
 <% end %>
</p>

<p>
<% if @recipe.comments.any? %>
  <b>Opinie:</b>
  <%= render @recipe.comments %>
<% end %>
</p>
<p>
<b>Twoje zdanie o nalewce:</b>
<%= render 'comments/form' %>
</p>

</div>
</div>
	  <div id="footermainPan">
  <div id="footerPan">
		<p class="copyright">©c2h5oh. All Rights Reserved.</p>
	
  </div>
</div>